@import "https://fonts.googleapis.com/css?family=Roboto+Mono:100";
html,
body {
  font-family: "Roboto Mono", monospace;
  background: #212121;
  height: 95%;
}
.container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.text {
  font-weight: 100;
  font-size: 120px;
  color: #fafafa;
}
.dud {
  color: #757575;
}
/* img {
  animation: pulse 1s;
} */

@keyframes pulse {
  0% {
    transform: rotate(0deg) scale(0.1);
  }
  85% {
    transform: rotate(360deg) scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ease-in {
  0%   {opacity: 0;}
  25%  {opacity: 0.25;}
  50%  {opacity: 0.5;}
  75%  {opacity: 0.75;}
  100% {opacity: 1;}
}
#dev {
  text-align: center;
  color: #fafafa;
  font-size: 25px;
  animation-name: ease-in;
  animation-duration: 2s;
}

#award-title
{
  font-weight: 100;
  text-align: center;
  color: #fafafa;
  font-size: 50px;
  margin-bottom: 2px;
  margin-top: 0;
  letter-spacing: 2px;
  animation-name: ease-in;
  animation-duration: 2s;
}

#stats
{
  font-weight: 100;
  text-align: center;
  color: #fafafa;
  font-size: 25px;
  margin-top: 0;
  animation-name: ease-in;
  animation-duration: 2s;
}
